@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1321px;
  height: 607px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.container > h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}
.leftcontainer {
  width: 506px;
}
.livebtn {
  width: 187px;
  height: 56px;
  background: #dd0000;
  border-radius: 5px;
  color: white;
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
.shorttxt {
  display: none;
}
.rightcontainer > img {
  height: 580px;
  /* margin-top: 32px; */
}
#secondcontainer {
  height: 1200px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 130px;
}
.leftpart {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 312px;
  border-radius: 10px;
}
.leftpart > button {
  width: 252px;
  height: 64px;
  margin: 30px;
  border: 1px solid;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
#rightpart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}
.blogs {
  width: 312px;
  height: 362px;
  /* border: 2px solid black; */
  border: 1px solid;
  border-color: rgb(235, 235, 235);
  border-radius: 10px;
}
.blogs > img {
  width: 312px;
  height: 175px;
}
.transferdiv {
  margin-top: 5%;
  margin-left: 5%;
}
.transferbtn {
  width: 100px;
  height: 32px;
  border-radius: 5px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.blogicons {
  margin-left: 5%;
}
.blogicons > i {
  margin-right: 10%;
}
.viewbtn > button {
  width: 131px;
  height: 47px;
  background: #dd0000;
  border: none;
  border-radius: 5px;
  display: none;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
}
.options > h3 {
  color: #b9b9b9;
  margin: 24px;
}
.options {
  display: flex;
}
.goal {
  margin-top: 5%;
  margin-bottom: 2%;
}
.icons > i {
  margin: 30px;
}
@media only screen and (max-width: 486px) {
  .container {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
    width: 370px;
    height: 600px;
    flex-direction: column;
  }
  .leftcontainer {
    width: 258px;
    height: 178px;
    margin-bottom: 70px;
  }
  .fulltxt {
    display: none;
  }
  .shorttxt {
    display: inline-block;
    color: white;
  }
  .rightcontainer {
    width: 233px;
    height: 245px;
  }
  .rightcontainer > img {
    width: 233px;
    height: 245px;
    margin-top: 23%;
  }
  .livebtn {
    width: 161px;
    height: 40px;
  }
  #secondcontainer {
    overflow-x: hidden;
    position: relative;
    margin-top: 0;
  }
  #rightpart {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
  }
  .leftpart {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .leftpart > button {
    width: 210px;
    height: 48px;
  }
  footer {
    overflow-x: hidden;
    width: 100%;
    border: 2px solid red;
    height: auto;
  }
  .options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 487px) and (max-width: 768px) {
  .container {
    overflow-x: hidden !important;
    position: relative;
    width: 100%;
    height: 398px;
    margin: 2%;
  }

  #secondcontainer {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
    /* border: 2px solid black; */
    height: 100%;
  }
  .leftcontainer {
    width: 316px;
    height: 276px;
  }
  #rightpart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
  }
  #blogshidden {
    display: none;
  }
  .rightcontainer {
    width: 323px;
    height: 340px;
  }
  .rightcontainer > img {
    width: 323px;
    height: 340px;
  }
  .leftpart {
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: white;
  }
  .viewbtn > button {
    display: inline;
    margin-top: 30%;
    margin-bottom: 30%;
  }
  .options {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer {
    position: relative;
    overflow-x: hidden !important;
    width: 100%;
  }
}
